h1{
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Play', sans-serif;
}
.covid{
    background-image: linear-gradient(to bottom, #A71930 , #EEEEEE);
}
h2{
  text-align: center;
  color: black;
}
.bucs img{
  width: 100%;
  height: 100px;
}

@media(max-width:900px){
  .bucs img{
    display:none;
  }
  }
.covid p{
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  font-family: 'Play', sans-serif;
  margin: 20px;
}

.covid{
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: justify;
  text-justify: inter-word;
}
a{
  text-decoration:none !important;
  color:black !important;
}

a h3{
  color:gray;
}
ion-icon {
    font-size: 20px;
    }
.phone{
  border-style:double;
  background-color: white;
  border-color: #A71930;
  width: 35%;
  font-size: 13px;
  margin: 0 auto;
  color: black;
}
@media(max-width:414px){
  .phone{
    width: 70%;
    margin-bottom: 15px;
  }
}
.contact{
  text-align: center;
}

.mail{
  font-size: 13px;
  border-style:double;
  background-color: white;
  border-color: #A71930;
  width: 35%;
  margin: 0 auto;
}
@media(max-width:414px){
  .mail{
    width: 70%;
    margin-bottom: 15px;
  }
}
.thanks{
  margin-top: 30px;
  margin-bottom: 40px;
}
.thanks img{
  width: 100%;
}
@media(max-width:414px){
  .thanks img{
    height: 120px;
  }
}
@media(max-width:375px){
  h1{
    font-size: 1.8rem !important;
  }
}
/*VARIOS----------------------------------------------------------*/
.tickets {
  width: 100%;
  margin-bottom: 30px;
}
.box{
  font-family: 'Play', sans-serif;
  text-align: center;
  -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  background-color: #A71930;
  height: 215px;
}
@media(max-width:414px){
  .box{
    height: 150px;
    margin-bottom: 15px;
  }
}
.box:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.box h3{
  font-size:50px;
  padding-top: 65px;
  color:white;
}
@media(max-width:414px){
  .box h3{
    font-size:35px;
    padding-top: 55px;
  }
}
.tickets img{
  width: 100%;
  height: 250px;
  background-color: white;
}
/*SEPARADOR----------------------------------------------------------*/
.separador{
  margin-top:35px;
  margin-bottom:10px;
  font-family: 'Play', sans-serif;
}
.separador h2{
  border-bottom: 2px solid #151515;
  margin-bottom: -10px;
}
.titulo{
  color: black;
  margin:1px;
}
hr{
  margin-top: 1px;
}
@media(max-width:414px){
  .separador{
    text-align: center;
  }
}
